.tab-pane>*.tab-header-area>*.tab-header-background 
{
   -fx-background-color: -fx-outer-border, -fx-text-box-border, #07664f;
   -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}

.tab
{
	-fx-background-color: #07664f;
	-fx-pref-height: 35.0;
	-fx-shape: "M300,290 L300,168 L410,168 L410,290 L300,290 z";
	-fx-padding: 0 30 0 30;
	
}

.tab-label {
	-fx-text-fill: #ededed;
	-fx-alignment: CENTER;
	-fx-border: transparent;
}

#connectorsTab:selected{
    -fx-background-color: #ededed;
    -fx-border-color: #ededed;
} 

#objectsTab:selected{
    -fx-background-color: #ededed;
    -fx-border-color: #ededed;
} 


#connectorsTab.tab:selected .tab-label {
    -fx-text-fill: #07664f;
    -fx-background: #ededed;
} 

#objectsTab.tab:selected .tab-label {
    -fx-text-fill: #07664f;
    -fx-background: #ededed;
} 

#connectorsPane {
	-fx-background-color: #ededed;
}


#objectsPane {
	-fx-background-color: #ededed;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#header {
	-fx-background-color: #07664f;
}

.button {
	-fx-background-radius: 0;
	-fx-background-color: #07664f;
	-fx-text-fill: #ededed;
}

#save {
	-fx-background-color: #f5f5f5;
	-fx-text-fill: #07664f;
}

#exit:hover {
	-fx-background-color: #e50d2a;
	-fx-text-fill: black;
}

#minimize:hover {
	-fx-background-color: #007e62;
	-fx-text-fill: black;
}

#restore_and_maximize:hover {
	-fx-background-color: #007e62;
	-fx-text-fill: black;
}

#save:hover {
	-fx-background-color: #007e62;
	-fx-text-fill: black;
}

.rectangle {
	-fx-border-color: transparent;
	-fx-border-radius: 0px;
}

#footerPane {
	-fx-background-color: #f5f5f5;
}

